<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <title>Crono Dashboard</title>
    <%= stylesheet_link_tag 'crono/materialize.min.css', media: "all" %>
    <%= stylesheet_link_tag 'crono/application', media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="grey darken-4">
    <nav class="grey darken-2 white-text" role="navigation">
      <%= link_to main_app.root_path, class: 'wfa-link pl20' do %>
        <%= Rails.application.class.to_s.split("::").first %>
      <% end %>
      <a class="brand-logo center" href="<%= root_path %>">
        <b>Crono</b> Dashboard
      </a>
    </nav>
    <main class="container grey darken-3 white-text">

      <%= yield %>

      <footer class="page-footer grey darken-4">
        <div class="footer-copyright grey darken-3 white-text">
          Crono v<%= Crono::VERSION %>
          <a class="right wfa-link" href="https://github.com/plashchynski/crono" target="_blank">Documentation</a>
        </div>
      </footer>
    </main>
  </body>
</html>
